<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla de posiciones</title>
  </head>
  <body>
    <h1>Tabla de posiciones de pilotos - Temporada Actual</h1>

    {% if standings %}
    <table border="1" cellpadding="8">
      <thead>
        <tr>
          <th>Posición</th>
          <th>Piloto</th>
          <th>Nacionalidad</th>
          <th>Equipo</th>
          <th>Puntos</th>
        </tr>
      </thead>
      <tbody>
        {% for item in standings %}
        <tr>
          <td>{{ item.position}}</td>
          <td>{{ item.Driver.givenName}} {{ item.Driver.familyName}}</td>
          <td>{{ item.Driver.nationality}}</td>
          <td>{{ item.Constructors[0].name}}</td>
          <td>{{ item.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No se pudo cargar la tabla de posiciones</p>
    {% endif %}
  </body>
</html>
